.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  padding: 10px;
  min-height: 100vh;
  display: block;
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-default {
  margin: 10px;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 2px;
}

textarea {
  background-color: #ebecee;
  width: 505px;
  height: 350px;
}

.result-area {
  display: inline-flex;
  align-self: center;
}

.output-result {
  background-color: #ebecee;
  margin: 1px;
  width: 250px;
  height: 350px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
